<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<Configuration>
    <Properties>
        <!-- 환경 변수 LOG_PATH 사용 -->
        <Property name="LOG_PATH">${sys:LOG_PATH:-/opt/tomcat/logs}</Property>
    </Properties>
	<Appenders>
	    <!-- 날짜별 파일 분기 로그 설정 -->
	    <RollingFile name="fileLogger" fileName="${LOG_PATH}/app.log"
	                 filePattern="${LOG_PATH}/app-%d{yyyy-MM-dd}_%i.log"> <!-- 인덱스 기반으로 파일 롤링 -->
	        <PatternLayout>
	            <Pattern>[log4j] %d %5p [%c] %m%n</Pattern>
	        </PatternLayout>
	        <Policies>
	            <!-- 날짜 기반 롤링 -->
	            <TimeBasedTriggeringPolicy />
	            <!-- 파일 크기 기반 롤링 (10MB 넘을 때 롤링) -->
	            <SizeBasedTriggeringPolicy size="500MB" />`
	        </Policies>
	        <DefaultRolloverStrategy fileIndex="min" max="2000" /> <!-- 최대 10개의 파일을 유지 -->
	    </RollingFile>

	    <Console name="console" target="SYSTEM_OUT">
	        <PatternLayout pattern="[log4j]%d %5p [%c] %m%n" />
	    </Console>
	</Appenders>
    <Loggers>
        <Root level="DEBUG">
            <AppenderRef ref="console" />
            <AppenderRef ref="fileLogger" /> <!-- 파일에도 로그 기록 -->
<!--              <Filters> -->
<!--                <RegexFilter regex=".*new PreparedStatement returned.*" onMatch="DENY" onMismatch="NEUTRAL"/> -->
<!--                 <RegexFilter regex=".*Connection\\.isClosed.*" onMatch="DENY" onMismatch="NEUTRAL"/> -->
<!--                 <RegexFilter regex=".*Connection.*" onMatch="DENY" onMismatch="NEUTRAL"/> -->
<!--                 <RegexFilter regex=".*ResultSet.*" onMatch="DENY" onMismatch="NEUTRAL"/> -->
<!--                 <RegexFilter regex=".*ResultSet\\.isClosed.*" onMatch="DENY" onMismatch="NEUTRAL"/> -->
<!--             </Filters> -->
        </Root>
  <!--      <Logger name="java.sql" level="ERROR" additivity="false">
            <AppenderRef ref="console" />
        </Logger>

	    <Logger name="jdbc.sqltiming" level="ERROR" additivity="false">
	        <AppenderRef ref="console" />
	    </Logger>
		<Logger name="jdbc.connection" level="ERROR" additivity="false">
	        <AppenderRef ref="console" />
	    </Logger>
	    <Logger name="jdbc.audit" level="ERROR" additivity="false">
	        <AppenderRef ref="console" />
	    </Logger>
		<Logger name="jdbc.sqlresultsettable" level="ERROR" additivity="false">
	        <AppenderRef ref="console" />
	    </Logger>
		<Logger name="jdbc.resultset" level="ERROR" additivity="false">
	        <AppenderRef ref="console" />
	    </Logger>-->
	    <Logger name="jdbc.sqlonly" level="ERROR" additivity="false">
	        <AppenderRef ref="console" />
	        <AppenderRef ref="fileLogger" /> <!-- 파일에도 로그 기록 -->
	    </Logger>
<!--         <Logger name="egovframework" level="DEBUG" additivity="false"> -->
<!--             <AppenderRef ref="console" /> -->
<!--             <AppenderRef ref="fileLogger" /> 파일에도 로그 기록 -->
<!--         </Logger> -->
        <Logger name="org.egovframe" level="DEBUG" additivity="false">
            <AppenderRef ref="console" />
             <AppenderRef ref="fileLogger" /> <!-- 파일에도 로그 기록 -->
        </Logger>

	    <Logger name="org.springframework" level="DEBUG" additivity="false">
	        <AppenderRef ref="console" />
	        <AppenderRef ref="fileLogger" /> <!-- 파일에도 로그 기록 -->
	    </Logger>
	    <Logger name="org.springframework.jdbc.datasource" level="ERROR" additivity="false">
	        <AppenderRef ref="console" />
	        <AppenderRef ref="fileLogger" /> <!-- 파일에도 로그 기록 -->
	    </Logger>
	    <Logger name="org.quartz.core" level="ERROR" additivity="false">
	        <AppenderRef ref="console" />
	        <AppenderRef ref="fileLogger" /> <!-- 파일에도 로그 기록 -->
	    </Logger>
    </Loggers>
</Configuration>